.number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(circle, #ffffff 40%, #000000 100%);
    box-shadow: 0 0 10px #000000;
    font-size: 50px;
    font-weight: bolder;
}

/*.number {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    font-size: 25px;*/
/*    font-weight: bold;*/
/*    border-radius: 50%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-right: 15px;*/
/*    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(99, 99, 99));;*/
/*}*/